.carcasa
{
    border: solid black;
    padding: 10px;
    width: 50%;
    margin-left:225px;
    background-color: greenyellow;
    text-align: center;
}
.boton{
    width: 15%;
    height: 50px;
}
.pantalla{
    background-color: aqua;
    padding: 35px;
    margin: 15px;
}